@media (min-width: 1025px){
    main {
        display: none;
    }
    .off {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        text-align: center;
    }
}

@media (max-width: 1024px) {

    .off {
        display: none
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: #222;
    }
    * {
        margin: 0;
        box-sizing: border-box;
    }
    main, body {
        background: #f7f7f7;
    }
    section {
        margin: 40px 20px;
        padding: 1px;
        border-radius: 2px;
        box-shadow: 0px 1px 3px 1px #ddd;
        background: #fff;
    }
    .detalhes {
        padding: 25px 20px;
    }
    h3 {
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
    }
    .tituloSection {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .logo {
        text-align: center;
        position: sticky;
        z-index: 9999;
        height: 60px;
        line-height: 60px;
        font-size: 24px;
        background: #fff;
        top: -1px;
        box-shadow: 1px 1px 3px 5px #22222250;
    }
    hr {
        height: 4px; 
        border: none;
        background: linear-gradient(to right, rgb(110, 21, 110), darkred, red, orange, gold, pink, #eb122e)
    }
    .descricao, 
    .precoPrazo, 
    .detalhes p{
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        margin: 5px 0 30px;
        font-style: italic;
    }
    .descricao {
        margin-top: -15px !important;
    }
    .precoVista {
        background: linear-gradient(to right, rgb(110, 21, 110), #eb122e);
        font-size: 18px;
        color: #fff;
        padding: 5px 10px;
        border-radius: 4px;
    }
    .precoPrazo {
        margin-left: 5px;
    }
    .precoVista::after {
        content: " à vista";
    }
    .precoPrazo::after {
        content: " à prazo";
    }
    .item {
        position: relative;
        margin-top: 15px;
    }
    .detalhes div {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .cor {
        width: 35px;
        height: 35px;
        margin-right: 3px;
        border: 1px solid #ccc;
    }
    img {
        width: 100%;
        margin-top: -2px;
    }
    .cod {
        position: absolute;
        right: 20px;
        top: 30px;
        color: #fff;
        background: #eb122e;
        padding: 2px 5px;
        border-radius: 4px;
        font-size: 14px;
        box-shadow: 1px 1px 3px #222;
    }
    .new::before {
        content: "NOVO";
        position: absolute;
        padding: 2px 7px;
        background: #fff;
        color: #222;
        font-weight: 500;
        border-radius: 4px;
        right: 0;
        top: 25px;
    }
    .encontre {
        text-align: center;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }
    .encontre span {
        font-weight: 300;
        font-size: 14px;
    }
    .wp {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 80px 0;
    }
    .wp span {
        padding: 20px;
        font-weight: 500;
    }
    .botaowp {
        text-decoration: none;
        color: #fff;
        padding: 10px 15px;
        font-size: 13px;
        background: green;
        border-radius: 4px;
        box-shadow: 0px 1px 3px 3px #ddd;
    }

}

